@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
  }

  body{
    padding-top: 70px;
  }

  /* header */
  div.header{
    position: fixed;
    background-color:#666060;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 100;
    /* border: solid black 0.3px; */
}

#logo{
    font-size: 40px;
    color: #24Ea24;
    padding: 10px 50px;
}

#search{
    background-image: url(assets/search.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 35px;
    padding: 6px 50px;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-size: 16px;
    /* text-align: center; */
}

#hamicon{
  position: absolute;
  right: 2%;
  width: 35px;
  height: 50px;
}

.links{
  text-decoration: none;
  color:inherit;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

#backbutton{
  position: fixed;
  width: 60px;
  height: 40px;
  margin-top: 16px;
  padding-left: 1%;
}

hr{
  color: #24Ea24;
  border-top: 1px solid #24Ea24;
  width: 600px;
  margin: 2px auto;
}

.troubleTitle{
  text-align:center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  color: #24Ea24;
}

