.content-box{
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    background-color: #f3c4a2;
    background-position: center;
    height: 870px;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px;
    border: solid black;
    /* gap: 1px; */
    /* padding: 30px; */
}

.title{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    padding-left: 1%;
    padding-top: 1%;
    font-weight: bold;
}

.title p{
    margin-top: 1%;
    margin-left: 1%;
} 

.overview{
    flex: 2;
    margin-top: 20px;
    font-size: 1.6vw;
    text-align: justify;
    line-height: 1.5;
    padding: 20px;
    overflow: hidden;
}

.learning{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    gap: 10px;
    font-size: 2.3rem;
    padding: 20px;
    margin-top: 10px;
}

.learning-left{
    line-height: 1.5;
}

.learning-left ul{
    list-style-type: disc;
    margin-top:1%; 
    margin-left:4%;
}

.beginButton{
    /* align-self: flex-end; */
    background-color: #24Ea24;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    font-size: 50px;
    border: solid black;
}

@media screen and (max-height: 900px) and (min-width: 1024px){
    .content-box {
        height: 89vh;    
        overflow: hidden;
    }

    .title img {
        width: 100px;
        height: 100px;
    }

    .title p {
        font-size: 40px;
        margin-top: 2%;
    }

    .overview {
        margin-top: 5px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    
    .learning ul {
        font-size: 1.7rem;
    }

    .beginButton {
        width: 350px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 50px;
        border-radius: 8px;
        
    }
}
