.content-box{
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    background-color: #f3c4a2;
    background-position: center;
    height: 90%;
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px;
    /* padding: 30px; */
}

.title{
    display: flex;
    flex-direction: row;
}

.overview{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 1.6vw;
    text-align: justify;
    line-height: 1.5;
}

.learning{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    font-size: 2.5rem;
    padding: 10px;
    margin-top: 2%;
}

.learning ul{
    margin-top: 10px;
    line-height: 1.5;
}

.learning-left{
    display: flex;
    flex-direction: column;
}

.beginButton{
    flex-shrink: 0;
    align-self: flex-end;
    background-color: #24Ea24;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    padding: 45px;
    font-size: 50px;
    margin-top: 50%;
    /* bottom: 30px; */
}
