.app-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.9;
    text-align: justify;
    font-size: 1.4rem;
    padding: 0% 3%;
}

.app-description img{
    width: 15%;
}

.install-container{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 130px;
}

.install-steps{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    gap: 20px;
}

.guide-pics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    gap: 30px
}

.install-steps img{
    width: 700px;
    height: 350px;
}